<html>

    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>

<body>

<ul>
    <li><a class="active" href="/">Home</a></li>
    <li style="float:right">
    {% if not session.username %}
    <a href="/login"> Login </a>
    {% else %}
    <a href="/gdisconnect">Logout</a>
    {% endif %}
    </li>
    <li style="float:left">
        <a> Catalog App </a>
    </li>
</ul>

<div class = 'container'>

    <div class="message">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        
        {% endif %}
        {% endwith %}
    </div>

  
  {% block content %}
  {% endblock %}



</div>

</body>

</html>
